OPENAI_API_KEY=YOUR_OPENAI_API_KEY
PUSHOVER_USER=YOUR_PUSHOVER_USER
PUSHOVER_TOKEN=YOUR_PUSHOVER_TOKEN
HF_TOKEN=YOUR_HF_TOKEN
SENDGRID_API_KEY=YOUR_SENDGRID_API_KEY
LANGSMITH_API_KEY=YOUR_LANGSMITH_API_KEY
SERPER_API_KEY=YOUR_SERPER_API_KEY
